@model laptopi.etf1.Models.Primjedba

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Primjedba</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sadrzaj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sadrzaj)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumPrimjedbe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumPrimjedbe)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.validnost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.validnost)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.artikalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.artikalId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.korisnikId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.korisnikId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.primjedbaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
