@model IEnumerable<laptopi.etf1.Models.Artikal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stranje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumObjave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aktivnost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prosjecnaOcjena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kategorija)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.naziv)
            </td>
            <td>
                @Html.DisplayFor(model => item.opis)
            </td>
            <td>
                @Html.DisplayFor(model => item.stranje)
            </td>
            <td>
                @Html.DisplayFor(model => item.datumObjave)
            </td>
            <td>
                @Html.DisplayFor(model => item.aktivnost)
            </td>
            <td>
                @Html.DisplayFor(model => item.prosjecnaOcjena)
            </td>
            <td>
                @Html.DisplayFor(model => item.kategorija)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtikalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArtikalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArtikalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
