@model laptopi.etf1.Models.Artikal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Artikal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stranje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stranje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumObjave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumObjave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aktivnost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aktivnost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prosjecnaOcjena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prosjecnaOcjena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kategorija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kategorija)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ArtikalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
