@model laptopi.etf1.Models.Ocjena

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ocjena</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vrijednost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vrijednost)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumOcjenjivanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumOcjenjivanja)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.artikalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.artikalId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.korisnikId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.korisnikId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ocjenaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
