@model IEnumerable<laptopi.etf1.Models.ZahtjevZaUklanjanje>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.razlog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumZahtjeva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.artikalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.korisnikId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adminModeratorId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.razlog)
            </td>
            <td>
                @Html.DisplayFor(model => item.datumZahtjeva)
            </td>
            <td>
                @Html.DisplayFor(model => item.status)
            </td>
            <td>
                @Html.DisplayFor(model => item.artikalId)
            </td>
            <td>
                @Html.DisplayFor(model => item.korisnikId)
            </td>
            <td>
                @Html.DisplayFor(model => item.adminModeratorId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.zahtjevId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.zahtjevId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.zahtjevId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
